# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE and environment files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Virtual environments
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints


